In [41]:
a = "Hola que tal"
b = "Bien"
c = a + b
print(c)

Hola que talBien

In [42]:
c = "Hola"
print(type(c))
c = 1
print(type(c))
c = 1.5
print(type(c))
c = ["Hola"]
print(type(c))
c = True
print(type(c))
c = dict()
print(type(c))
c = set()
print(type(c))
c = (3,)
print(type(c))
c = None
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'bool'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'NoneType'>

In [43]:
a = [255,'a',255]

a

[255, 'a', 255]

In [44]:
z = [1,2,4,"Hola","ðŸ˜Ž", "ðŸ”¥"]
for i in range(len(z)):
    print(z[i])

1
2
4
Hola
ðŸ˜Ž
ðŸ”¥

In [45]:
z = [1,2,4,"Hola","ðŸ˜Ž", "ðŸ”¥"]
for e in z:
    print(e)
    print("hola")
print("-> "+ e)
print("-> "+ e)

1
hola
2
hola
4
hola
Hola
hola
ðŸ˜Ž
hola
ðŸ”¥
hola
-> ðŸ”¥
-> ðŸ”¥

In [46]:
list(range(5))

[0, 1, 2, 3, 4]

In [47]:
a = ["Garfield","Misifu","Con botas","Tom", "Silvestre"]
b = ["ðŸ˜º1","ðŸ˜º2","ðŸ˜º3","ðŸ˜º4","ðŸ˜º5"]

for i in range(len(a)):
    print(a[i], b[i])

Garfield ðŸ˜º1
Misifu ðŸ˜º2
Con botas ðŸ˜º3
Tom ðŸ˜º4
Silvestre ðŸ˜º5

In [48]:
list(zip(a,b))

[('Garfield', 'ðŸ˜º1'),
 ('Misifu', 'ðŸ˜º2'),
 ('Con botas', 'ðŸ˜º3'),
 ('Tom', 'ðŸ˜º4'),
 ('Silvestre', 'ðŸ˜º5')]

In [49]:
x = (1,2,3) 
print(x)
x.append(5)
print(x)

(1, 2, 3)

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
c = list(zip(a,b))
print(c)
c[0][1]

[('Garfield', 'ðŸ˜º1'), ('Misifu', 'ðŸ˜º2'), ('Con botas', 'ðŸ˜º3'), ('Tom', 'ðŸ˜º4'), ('Silvestre', 'ðŸ˜º5')]

'ðŸ˜º1'

In [51]:
a = ["Garfield","Misifu","Con botas","Tom", "Silvestre","ðŸ”¥"]
b = ("ðŸ˜º1","ðŸ˜º2","ðŸ˜º3","ðŸ˜º4","ðŸ˜º5")

q = zip(a,b)
for x,y in q:
    print(x,y)

Garfield ðŸ˜º1
Misifu ðŸ˜º2
Con botas ðŸ˜º3
Tom ðŸ˜º4
Silvestre ðŸ˜º5

In [52]:
a = ["Garfield","Misifu","Con botas","Tom", "Silvestre","ðŸ”¥"]
b = ["ðŸ˜º1","ðŸ˜º2","ðŸ˜º3","ðŸ˜º4","ðŸ˜º5"]
    
c = []
for i in range(min(len(a),len(b))):
    print(i)
    c.append([a[i],b[i]])

print(c)

0
1
2
3
4
[['Garfield', 'ðŸ˜º1'], ['Misifu', 'ðŸ˜º2'], ['Con botas', 'ðŸ˜º3'], ['Tom', 'ðŸ˜º4'], ['Silvestre', 'ðŸ˜º5']]

In [53]:
b = ["ðŸ˜º1","ðŸ˜º2","ðŸ˜º3","ðŸ˜º4","ðŸ˜º5"]
b[2:4]

['ðŸ˜º3', 'ðŸ˜º4']

In [54]:
x = list("Hola que tal")
print(x)

['H', 'o', 'l', 'a', ' ', 'q', 'u', 'e', ' ', 't', 'a', 'l']

In [55]:
for l in "Hola":
    print("Hola -> ",l)

Hola ->  H
Hola ->  o
Hola ->  l
Hola ->  a

In [56]:
a = "Hola"
print(a[3])

a

In [57]:
len(a)

4

In [58]:
a = "Hola"
b = "Adios"

c = a + b
print(c)

HolaAdios

In [59]:
a = [1,2,3]
b = [4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [60]:
a = [1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [61]:
c = "Hola" + str(5)
c

'Hola5'

In [62]:
c = "55"
print(type(c))
c = int(c)
print(type(c))

<class 'str'>
<class 'int'>

In [63]:
float("Hola5.5")

ValueError: could not convert string to float: 'Hola5.5'

In [64]:
a = 6

if a <= 5:
    print("hola")
else:
    print("Adios")

Adios

In [65]:
a = [0]
print(type(a))
if a[0]:
    print("âœ…")
else:
    print("ðŸ”¥")

<class 'list'>
ðŸ”¥

In [66]:
c = 10

if c < 5:
    print("hola")
elif c <= 10:
    print("mas o menos diez")

if c <= 10:
    print("mas o menos diez")
else:
    print("ðŸ”¥")

mas o menos diez
mas o menos diez

In [67]:
# Sets - https://docs.python.org/3.8/library/stdtypes.html#set
a = set([1,2,3,4,4,1,1,2,5,9])
print(a)

{1, 2, 3, 4, 5, 9}

In [68]:
set("Hola que tal como estÃ¡s")
for e in set("abcdeeeee"):
    print("letra->",e)

letra-> c
letra-> e
letra-> a
letra-> d
letra-> b

In [69]:
a = set([1,2,3,4])
b = set([4,5,6])

print(a.union(b))
print(a.difference(b))
print(b.difference(a))
print(a.intersection(b))

print(a.union(a.difference(b)))

c = a.union(a.difference(b))

for e in c:
    print(e)

{1, 2, 3, 4, 5, 6}
{1, 2, 3}
{5, 6}
{4}
{1, 2, 3, 4}
1
2
3
4

In [70]:
# Diccionarios

alumno = {
    "nombre": "Pepe",
    "apellido": "Garcia",
    "notas": [4,5,3,5,6,8,9]
}

alumno["nombre"] + " " + alumno["apellido"]

'Pepe Garcia'

In [71]:
alumno["nlaskdf"]

KeyError: 'nlaskdf'

In [72]:
c = "nombre"
alumno[c]

'Pepe'

In [73]:
alumno = {
    "nombre": "Pepe",
    "apellido": "Garcia",
    "notas": [4,5,3,5,6,8,9]
}

for key in alumno:
    print(alumno[key])

print(alumno)
alumno["graduado"] = True
print(alumno)

Pepe
Garcia
[4, 5, 3, 5, 6, 8, 9]
{'nombre': 'Pepe', 'apellido': 'Garcia', 'notas': [4, 5, 3, 5, 6, 8, 9]}
{'nombre': 'Pepe', 'apellido': 'Garcia', 'notas': [4, 5, 3, 5, 6, 8, 9], 'graduado': True}

In [74]:
alumno.keys()
alumno.values()
alumno.items()

dict_items([('nombre', 'Pepe'), ('apellido', 'Garcia'), ('notas', [4, 5, 3, 5, 6, 8, 9]), ('graduado', True)])

In [75]:
#for key in alumno:
#    value = alumno[key]
#    print("Clave:",key, "-valor:", value)


for key, value in alumno.items():
    print("Clave:",key, "-valor:", value)

Clave: nombre -valor: Pepe
Clave: apellido -valor: Garcia
Clave: notas -valor: [4, 5, 3, 5, 6, 8, 9]
Clave: graduado -valor: True

In [76]:
# Nota media
sum(alumno["notas"])/len(alumno["notas"])

5.714285714285714

In [77]:
noe = {
    "es_ta": True,
    "es_ta": 33,
    "nombre":"Noelia",
    "proyectos":[
        {
            "nombre":"Demo 1",
            "nota": 10
        },{
            "nombre":"Demo 2",
            "nota": 3
        }
    ]
}

noe["proyectos"][0]["nombre"]
print(noe)

{'es_ta': 33, 'nombre': 'Noelia', 'proyectos': [{'nombre': 'Demo 1', 'nota': 10}, {'nombre': 'Demo 2', 'nota': 3}]}

In [78]:
x = {
    True:"Hola",
    False:"Adios"
}
print(x)

x[0]

{True: 'Hola', False: 'Adios'}

'Adios'

In [79]:
alumno = {
    "nombre": "Pepe",
    "apellido": "Garcia",
    "juan":"Garcia"
}

for key in alumno:
    if alumno[key] == "Garcia":
        print("La llave de garcÃ­a es -> ",key)
        break

La llave de garcÃ­a es ->  apellido

In [80]:
if "hola":
    pass

In [81]:
i = 0
while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [82]:
# ðŸš§ bucle infinito, no pasar
# while True:
#    print("Hola")

In [83]:
print("Hola")

Hola