In [52]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html
import pandas as pd

df = pd.read_csv("./data/vehicles/vehicles.csv")
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [53]:
data = df[["Make","Model","Year","Cylinders","Engine Displacement"]]
data.head()

               Make                Model  Year  Cylinders  Engine Displacement
0        AM General    DJ Po Vehicle 2WD  1984        4.0                  2.5
1        AM General     FJ8c Post Office  1984        6.0                  4.2
2        AM General  Post Office DJ5 2WD  1985        4.0                  2.5
3        AM General  Post Office DJ8 2WD  1985        6.0                  4.2
4  ASC Incorporated                  GNX  1987        6.0                  3.8

In [54]:
# Apply sobre una serie
def transformFn(e):
    return e*3
  
serie = data.head(10)["Make"]
transformedSerie = serie.apply(transformFn)
display(transformedSerie)
data["TR"] = transformedSerie
display(data)

0                      AM GeneralAM GeneralAM General
1                      AM GeneralAM GeneralAM General
2                      AM GeneralAM GeneralAM General
3                      AM GeneralAM GeneralAM General
4    ASC IncorporatedASC IncorporatedASC Incorporated
5                                     AcuraAcuraAcura
6                                     AcuraAcuraAcura
7                                     AcuraAcuraAcura
8                                     AcuraAcuraAcura
9                                     AcuraAcuraAcura
Name: Make, dtype: object

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Make,Model,Year,Cylinders,Engine Displacement,TR
0,AM General,DJ Po Vehicle 2WD,1984,4.0,2.5,AM GeneralAM GeneralAM General
1,AM General,FJ8c Post Office,1984,6.0,4.2,AM GeneralAM GeneralAM General
2,AM General,Post Office DJ5 2WD,1985,4.0,2.5,AM GeneralAM GeneralAM General
3,AM General,Post Office DJ8 2WD,1985,6.0,4.2,AM GeneralAM GeneralAM General
4,ASC Incorporated,GNX,1987,6.0,3.8,ASC IncorporatedASC IncorporatedASC Incorporated
5,Acura,2.2CL/3.0CL,1997,4.0,2.2,AcuraAcuraAcura
6,Acura,2.2CL/3.0CL,1997,4.0,2.2,AcuraAcuraAcura
7,Acura,2.2CL/3.0CL,1997,6.0,3.0,AcuraAcuraAcura
8,Acura,2.3CL/3.0CL,1998,4.0,2.3,AcuraAcuraAcura
9,Acura,2.3CL/3.0CL,1998,4.0,2.3,AcuraAcuraAcura
10,Acura,2.3CL/3.0CL,1998,6.0,3.0,NaN
11,Acura,2.3CL/3.0CL,1999,4.0,2.3,NaN
12,Acura,2.3CL/3.0CL,1999,4.0,2.3,NaN
13,Acura,2.3CL/3.0CL,1999,6.0,3.0,NaN
14,Acura,2.5TL,1995,5.0,2.5,NaN
15,Acura,2.5TL/3.2TL,1996,5.0,2.5,NaN
16,Acura,2.5TL/3.2TL,1996,6.0,3.2,NaN
17,Acura,2.5TL/3.2TL,1997,5.0,2.5,NaN
18,Acura,2.5TL/3.2TL,1997,6.0,3.2,NaN
19,Acura,2.5TL/3.2TL,1998,5.0,2.5,NaN
20,Acura,2.5TL/3.2TL,1998,6.0,3.2,NaN
21,Acura,3.2CL,2001,6.0,3.2,NaN
22,Acura,3.2CL,2002,6.0,3.2,NaN
23,Acura,3.2CL,2003,6.0,3.2,NaN
24,Acura,3.2CL,2003,6.0,3.2,NaN
25,Acura,3.2TL,1999,6.0,3.2,NaN
26,Acura,3.2TL,2000,6.0,3.2,NaN
27,Acura,3.2TL,2001,6.0,3.2,NaN
28,Acura,3.2TL,2002,6.0,3.2,NaN
29,Acura,3.2TL,2003,6.0,3.2,NaN
...,...,...,...,...,...,...
35922,Wallace Environmental,Wetl Testarossa,1991,12.0,4.9,NaN
35923,Wallace Environmental,Wetl Testarossa,1992,12.0,4.9,NaN
35924,Yugo,GV,1988,4.0,1.1,NaN
35925,Yugo,GV,1988,4.0,1.3,NaN
35926,Yugo,GV Plus/GV/Cabrio,1990,4.0,1.3,NaN
35927,Yugo,GV Plus/GV/Cabrio,1990,4.0,1.3,NaN
35928,Yugo,GV/GVX,1987,4.0,1.1,NaN
35929,Yugo,GV/GVX,1989,4.0,1.1,NaN
35930,Yugo,GV/GVX,1989,4.0,1.3,NaN
35931,Yugo,Gy/yugo GVX,1986,4.0,1.1,NaN
35932,smart,fortwo cabriolet,2010,3.0,1.0,NaN
35933,smart,fortwo cabriolet,2011,3.0,1.0,NaN
35934,smart,fortwo cabriolet,2012,3.0,1.0,NaN
35935,smart,fortwo cabriolet,2013,3.0,1.0,NaN
35936,smart,fortwo cabriolet,2014,3.0,1.0,NaN
35937,smart,fortwo cabriolet,2015,3.0,1.0,NaN
35938,smart,fortwo cabriolet,2017,3.0,0.9,NaN
35939,smart,fortwo cabriolet,2017,3.0,0.9,NaN
35940,smart,fortwo convertible,2008,3.0,1.0,NaN
35941,smart,fortwo convertible,2009,3.0,1.0,NaN
35942,smart,fortwo coupe,2008,3.0,1.0,NaN
35943,smart,fortwo coupe,2009,3.0,1.0,NaN
35944,smart,fortwo coupe,2010,3.0,1.0,NaN
35945,smart,fortwo coupe,2011,3.0,1.0,NaN
35946,smart,fortwo coupe,2012,3.0,1.0,NaN
35947,smart,fortwo coupe,2013,3.0,1.0,NaN
35948,smart,fortwo coupe,2014,3.0,1.0,NaN
35949,smart,fortwo coupe,2015,3.0,1.0,NaN
35950,smart,fortwo coupe,2016,3.0,0.9,NaN
35951,smart,fortwo coupe,2016,3.0,0.9,NaN

In [55]:
# Apply sobre un dataframe
def transformFn(e):
    print(e)
    return "{} {}".format(e["Make"],e["Model"])
  
df2 = data.head(10)[["Make","Model"]]
tr = df2.apply(transformFn, axis=0)
display(tr)

0          AM General
1          AM General
2          AM General
3          AM General
4    ASC Incorporated
5               Acura
6               Acura
7               Acura
8               Acura
9               Acura
Name: Make, dtype: object
0          AM General
1          AM General
2          AM General
3          AM General
4    ASC Incorporated
5               Acura
6               Acura
7               Acura
8               Acura
9               Acura
Name: Make, dtype: object

KeyError: ('Make', 'occurred at index Make')

In [76]:
# Apply sobre un dataframe con broadcast
def transformFn(e):
    return "{} {}".format(e["Make"],e["Model"])
  
df2 = data.head(10)[["Make","Model"]]
tr = df2.apply(transformFn, axis=1, result_type="broadcast")
display(tr)

                             Make                           Model
0    AM General DJ Po Vehicle 2WD    AM General DJ Po Vehicle 2WD
1     AM General FJ8c Post Office     AM General FJ8c Post Office
2  AM General Post Office DJ5 2WD  AM General Post Office DJ5 2WD
3  AM General Post Office DJ8 2WD  AM General Post Office DJ8 2WD
4            ASC Incorporated GNX            ASC Incorporated GNX
5               Acura 2.2CL/3.0CL               Acura 2.2CL/3.0CL
6               Acura 2.2CL/3.0CL               Acura 2.2CL/3.0CL
7               Acura 2.2CL/3.0CL               Acura 2.2CL/3.0CL
8               Acura 2.3CL/3.0CL               Acura 2.3CL/3.0CL
9               Acura 2.3CL/3.0CL               Acura 2.3CL/3.0CL

In [57]:
# Apply sobre un dataframe con broadcast
def transformFn(e):
    print(e)
#    return "{} {}".format(e["Make"],e["Model"])
    return (0,1,2)
  
df2 = data.head(10)[["Make","Model"]]
tr = df2.apply(transformFn, axis=1, result_type='expand')
display(tr)

Make            AM General
Model    DJ Po Vehicle 2WD
Name: 0, dtype: object
Make           AM General
Model    FJ8c Post Office
Name: 1, dtype: object
Make              AM General
Model    Post Office DJ5 2WD
Name: 2, dtype: object
Make              AM General
Model    Post Office DJ8 2WD
Name: 3, dtype: object
Make     ASC Incorporated
Model                 GNX
Name: 4, dtype: object
Make           Acura
Model    2.2CL/3.0CL
Name: 5, dtype: object
Make           Acura
Model    2.2CL/3.0CL
Name: 6, dtype: object
Make           Acura
Model    2.2CL/3.0CL
Name: 7, dtype: object
Make           Acura
Model    2.3CL/3.0CL
Name: 8, dtype: object
Make           Acura
Model    2.3CL/3.0CL
Name: 9, dtype: object

   0  1  2
0  0  1  2
1  0  1  2
2  0  1  2
3  0  1  2
4  0  1  2
5  0  1  2
6  0  1  2
7  0  1  2
8  0  1  2
9  0  1  2

In [ ]:
def splitTr(e):
    return e["Transmission"].split(' ')

x = df[["Make","Transmission"]]
result = x.apply(splitTr, axis=1, result_type="expand")
result.columns = ["Trans", "Marchas"]

In [ ]:
pd.concat([x,result], axis=1)