In [5]:
!pip3 install sqlalchemy
!pip3 install pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/site-packages (1.2.12)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/site-packages (0.24.1)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/site-packages (from pandas) (1.15.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/site-packages (from pandas) (2018.5)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/site-packages (from pandas) (2.7.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

In [4]:
import pandas as pd
import sqlalchemy as db
import getpass


#engine = db.create_engine('dialect+driver://user:pass@host:port/db')

password = getpass.getpass("Insert your mysql root password: ")
engine = db.create_engine('mysql+pymysql://root:{}@localhost/publications_new'.format(password))
print("Connected to server!")

Insert your mysql root password: ········
Connected to server!

In [15]:
def autoresEstado(state="CA"):
    query = """
        SELECT * FROM authors WHERE state='{}'
    """.format(state)
    print("Running query")
    print(query)
    df = pd.read_sql_query(query, engine)
    return df

def multiEstado(states=["CA"]):
    
    query = []
    
    for state in states:
        oneStateQuery = """
            SELECT * FROM authors WHERE state='{}'
        """.format(state)
        query.append(oneStateQuery)
    
    query = ' UNION '.join(query)
    
    print("Running query")
    print(query)
    df = pd.read_sql_query(query, engine)
    return df

#display(autoresEstado())
#display(autoresEstado("KS"))

multiEstado(["TN","MI","OR"])[["au_lname"]]

Running query

            SELECT * FROM authors WHERE state='TN'
         UNION
            SELECT * FROM authors WHERE state='MI'
         UNION
            SELECT * FROM authors WHERE state='OR'

         au_lname
0          Greene
1    del Castillo
2  Blotchet-Halls

In [20]:
%%time
pd.read_sql_query("SELECT * FROM employee",engine)["job_id"].sum()

CPU times: user 5.15 ms, sys: 2.54 ms, total: 7.69 ms
Wall time: 12.2 ms

365

In [21]:
%%time
pd.read_sql_query("SELECT sum(job_id) as j FROM employee",engine)["j"][0]

CPU times: user 2.63 ms, sys: 1.19 ms, total: 3.83 ms
Wall time: 12.5 ms

365.0