In [2]:
def suma(a,b):
    return a+b

suma(5,5)
print(suma)

<function suma at 0x106c4e048>

In [3]:
"""
def exp(e):
    return e**2
"""

lambda e: e**2
x = lambda a,b: a+b

x(5,5)

10

In [4]:
hoteles = [
    {"name":"Hotel Legazpi", "stars":3},
    {"name":"Pension Loli", "stars":1},
    {"name":"Hilton", "stars":5},
]

# Transforma la lista de hoteles en sus estrellas

total = 0
for h in hoteles:
    total += h["stars"]
total

9

In [5]:
sum([h["stars"] for h in hoteles])

9

In [6]:
sum(map(lambda h: h["stars"], hoteles))

9

In [7]:
x = lambda i: "Hola"+str(i)

list(map(x, range(10)))

['Hola0',
 'Hola1',
 'Hola2',
 'Hola3',
 'Hola4',
 'Hola5',
 'Hola6',
 'Hola7',
 'Hola8',
 'Hola9']

In [8]:
import re 
hoteles = [
    {"name":"Hotel Legazpi", "stars":3},
    {"name":"Pension Loli", "stars":3},
    {"name":"Hilton", "stars":5},
]


hotelName = lambda needle, heystack: bool(re.search(re.compile(needle, re.IGNORECASE),heystack))
hotelLujo = lambda h: h["stars"] >= 4
pension = lambda h: bool(re.search("pension",h))

print(list(filter(hotelLujo, hoteles)))
print(list(filter(lambda h: hotelName("loli",h["name"]), hoteles)))
print(list(filter(lambda h: hotelName("l",h["name"]), hoteles)))

[{'name': 'Hilton', 'stars': 5}]
[{'name': 'Pension Loli', 'stars': 3}]
[{'name': 'Hotel Legazpi', 'stars': 3}, {'name': 'Pension Loli', 'stars': 3}, {'name': 'Hilton', 'stars': 5}]

In [9]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((5,10)))
df

,0,1,2,3,4,5,6,7,8,9
0,0.925983,0.572039,0.582568,0.063877,0.170144,0.690078,0.320118,0.761142,0.338311,0.732655
1,0.530776,0.404585,0.559668,0.212440,0.879962,0.010701,0.233859,0.705085,0.456660,0.783879
2,0.870788,0.921805,0.434441,0.052008,0.772713,0.974589,0.343783,0.380923,0.665905,0.757625
3,0.573953,0.482521,0.698859,0.510633,0.281179,0.449236,0.145946,0.064281,0.850281,0.285639
4,0.088715,0.461936,0.120463,0.174095,0.841498,0.171225,0.705169,0.880081,0.774789,0.631612

In [10]:
df.applymap(lambda x: "Hola"+str(x))

,0,1,2,3,4,5,6,7,8,9
0,Hola0.925983030893971,Hola0.5720389416126644,Hola0.5825676492699371,Hola0.06387702150421015,Hola0.1701443059308334,Hola0.6900775611311745,Hola0.3201177367173792,Hola0.761141618762781,Hola0.3383105359653713,Hola0.7326549138966489
1,Hola0.5307759935319503,Hola0.4045849972910732,Hola0.559667755481785,Hola0.21244031717353484,Hola0.8799621356039421,Hola0.01070092561114977,Hola0.23385900599609055,Hola0.7050851662542101,Hola0.45665970843418835,Hola0.7838792961013588
2,Hola0.8707876313963466,Hola0.9218049026936159,Hola0.4344406819255747,Hola0.052007558436446,Hola0.7727134724806283,Hola0.974588760554891,Hola0.3437834740515623,Hola0.38092335769802055,Hola0.665905012089048,Hola0.7576250114467826
3,Hola0.5739531246337232,Hola0.4825212128769454,Hola0.6988594710537873,Hola0.5106326787250746,Hola0.2811789511435464,Hola0.44923600880563874,Hola0.1459463303891364,Hola0.06428142879067056,Hola0.8502809614215684,Hola0.28563880073127346
4,Hola0.08871502195675673,Hola0.46193630029873234,Hola0.1204625263988448,Hola0.17409477333358692,Hola0.8414980250870919,Hola0.17122455025134609,Hola0.7051692543700554,Hola0.8800814771755425,Hola0.7747891387986109,Hola0.6316117242401478

In [11]:
"""
def clean_1to2_ch (serie):
    #Esta función elimina palabras de 2 o menos caracteres.
    aux = serie.replace("\s\w{1,2}\s", " ")
    aux1 = aux.replace("\s\w{1,2}\s", " ")
    aux2 = aux1.replace("\s\w{1,2}\s", " ")
    return aux2.replace("\s\w{1,2}\s", " ")
"""

from functools import reduce

hoteles = [
    {"name":"Hotel Legazpi", "stars":3},
    {"name":"Pension Loli", "stars":3},
    {"name":"Hilton", "stars":5},
]


def fn(acc,e):
    print("ITera")
    print(acc,e)

x = reduce(fn, hoteles, 0)
print("X vale: ", x)

ITera
0 {'name': 'Hotel Legazpi', 'stars': 3}
ITera
None {'name': 'Pension Loli', 'stars': 3}
ITera
None {'name': 'Hilton', 'stars': 5}
X vale:  None

In [12]:
def fn(acc,e):
    print("ITera")
    print(acc,e)
    return acc + e["stars"]

reduce(fn, hoteles, 0)

ITera
0 {'name': 'Hotel Legazpi', 'stars': 3}
ITera
3 {'name': 'Pension Loli', 'stars': 3}
ITera
6 {'name': 'Hilton', 'stars': 5}

11

In [13]:
reduce(lambda a,e: a+e["stars"], hoteles, 0)

11

In [14]:
def fn(acc,e):
    print("ITera")
    print(acc,e)
    return acc["stars"] + e["stars"]

reduce(fn, hoteles)

ITera
{'name': 'Hotel Legazpi', 'stars': 3} {'name': 'Pension Loli', 'stars': 3}
ITera
6 {'name': 'Hilton', 'stars': 5}

TypeError: 'int' object is not subscriptable

In [25]:
"""
def clean_1to2_ch (serie):
    #Esta función elimina palabras de 2 o menos caracteres.
    aux = serie.replace("\s\w{1,2}\s", " ")
    aux1 = aux.replace("\s\w{1,2}\s", " ")
    aux2 = aux1.replace("\s\w{1,2}\s", " ")
    return aux2.replace("\s\w{1,2}\s", " ")
"""

operations = [
    "\s\w{1,2}\s",
    "\s\w{1,2}\s",
    "\s\w{1,2}\s",
    "\s\w{1,2}\s"
]
serie = pd.Series(["hola me le pe se llamo pepe y tengo un perro"]*10)

def limpia(acc,op):
    print(acc,op)
    return acc.replace(re.compile(op), " ")

#limpia = lambda acc,op: acc.replace(op," ")

x = reduce( limpia ,operations, serie)

print(x)

0    hola me le pe se llamo pepe y tengo un perro
1    hola me le pe se llamo pepe y tengo un perro
2    hola me le pe se llamo pepe y tengo un perro
3    hola me le pe se llamo pepe y tengo un perro
4    hola me le pe se llamo pepe y tengo un perro
5    hola me le pe se llamo pepe y tengo un perro
6    hola me le pe se llamo pepe y tengo un perro
7    hola me le pe se llamo pepe y tengo un perro
8    hola me le pe se llamo pepe y tengo un perro
9    hola me le pe se llamo pepe y tengo un perro
dtype: object \s\w{1,2}\s
0    hola le se llamo pepe tengo perro
1    hola le se llamo pepe tengo perro
2    hola le se llamo pepe tengo perro
3    hola le se llamo pepe tengo perro
4    hola le se llamo pepe tengo perro
5    hola le se llamo pepe tengo perro
6    hola le se llamo pepe tengo perro
7    hola le se llamo pepe tengo perro
8    hola le se llamo pepe tengo perro
9    hola le se llamo pepe tengo perro
dtype: object \s\w{1,2}\s
0    hola se llamo pepe tengo perro
1    hola se llamo pepe tengo perro
2    hola se llamo pepe tengo perro
3    hola se llamo pepe tengo perro
4    hola se llamo pepe tengo perro
5    hola se llamo pepe tengo perro
6    hola se llamo pepe tengo perro
7    hola se llamo pepe tengo perro
8    hola se llamo pepe tengo perro
9    hola se llamo pepe tengo perro
dtype: object \s\w{1,2}\s
0    hola llamo pepe tengo perro
1    hola llamo pepe tengo perro
2    hola llamo pepe tengo perro
3    hola llamo pepe tengo perro
4    hola llamo pepe tengo perro
5    hola llamo pepe tengo perro
6    hola llamo pepe tengo perro
7    hola llamo pepe tengo perro
8    hola llamo pepe tengo perro
9    hola llamo pepe tengo perro
dtype: object \s\w{1,2}\s
0    hola llamo pepe tengo perro
1    hola llamo pepe tengo perro
2    hola llamo pepe tengo perro
3    hola llamo pepe tengo perro
4    hola llamo pepe tengo perro
5    hola llamo pepe tengo perro
6    hola llamo pepe tengo perro
7    hola llamo pepe tengo perro
8    hola llamo pepe tengo perro
9    hola llamo pepe tengo perro
dtype: object

In [38]:
from statistics import mean
a = list(range(5,10))

print(a)
#hazmedia = lambda acc, e: acc+(e)/len(a)

def hazmedia(acc,e):
    print("\tACC",acc)
    print("\telemento", e)
    retorno = acc+e/len(a)
    print("retorno", retorno)
    return retorno

media = reduce(hazmedia, a, 0)
print(media, mean(a))

[5, 6, 7, 8, 9]
	ACC 0
	elemento 5
retorno 1.0
	ACC 1.0
	elemento 6
retorno 2.2
	ACC 2.2
	elemento 7
retorno 3.6
	ACC 3.6
	elemento 8
retorno 5.2
	ACC 5.2
	elemento 9
retorno 7.0
7.0 7

In [62]:
triangulos = list(map(lambda x: (x,x+1,(x**2+(x+1)**2)**(1/2)), range(1,101)))
soluciones = list(map(lambda e: (e[0]**2+e[1]**2,round(e[2]**2,0)) , triangulos))
list(filter(lambda e: e[0]!=e[1], soluciones))

[]

In [75]:
hoteles = [("Hotel",5)]*10

list(map(lambda t: (lambda index,name,stars: (name+str(index),stars))(t[0],*t[1]), enumerate(hoteles)))

[('Hotel0', 5),
 ('Hotel1', 5),
 ('Hotel2', 5),
 ('Hotel3', 5),
 ('Hotel4', 5),
 ('Hotel5', 5),
 ('Hotel6', 5),
 ('Hotel7', 5),
 ('Hotel8', 5),
 ('Hotel9', 5)]

In [73]:
(lambda a,b: a+b)(5,5)

10

In [78]:
list(enumerate([("Hotel",5)]*10))

[(0, ('Hotel', 5)),
 (1, ('Hotel', 5)),
 (2, ('Hotel', 5)),
 (3, ('Hotel', 5)),
 (4, ('Hotel', 5)),
 (5, ('Hotel', 5)),
 (6, ('Hotel', 5)),
 (7, ('Hotel', 5)),
 (8, ('Hotel', 5)),
 (9, ('Hotel', 5))]

In [79]:
esdiferente(5,5)
# 5 != 5

False