In [2]:
def suma(a,b):
    return a+b

suma(5,5)
print(suma)

<function suma at 0x1085a3268>

In [4]:
"""
def exp(e):
    return e**2
"""

lambda e: e**2
x = lambda a,b: a+b

x(5,5)

10

In [6]:
hoteles = [
    {"name":"Hotel Legazpi", "stars":3},
    {"name":"Pension Loli", "stars":1},
    {"name":"Hilton", "stars":5},
]

# Transforma la lista de hoteles en sus estrellas

total = 0
for h in hoteles:
    total += h["stars"]
total

9

In [8]:
sum([h["stars"] for h in hoteles])

9

In [13]:
sum(map(lambda h: h["stars"], hoteles))

9

In [18]:
x = lambda i: "Hola"+str(i)

list(map(x, range(10)))

['Hola0',
 'Hola1',
 'Hola2',
 'Hola3',
 'Hola4',
 'Hola5',
 'Hola6',
 'Hola7',
 'Hola8',
 'Hola9']

In [75]:
import re 
hoteles = [
    {"name":"Hotel Legazpi", "stars":3},
    {"name":"Pension Loli", "stars":3},
    {"name":"Hilton", "stars":5},
]


hotelName = lambda needle, heystack: bool(re.search(re.compile(needle, re.IGNORECASE),heystack))
hotelLujo = lambda h: h["stars"] >= 4
pension = lambda h: bool(re.search("pension",h))

print(list(filter(hotelLujo, hoteles)))
print(list(filter(lambda h: hotelName("loli",h["name"]), hoteles)))
print(list(filter(lambda h: hotelName("l",h["name"]), hoteles)))

[{'name': 'Hilton', 'stars': 5}]
[{'name': 'Pension Loli', 'stars': 3}]
[{'name': 'Hotel Legazpi', 'stars': 3}, {'name': 'Pension Loli', 'stars': 3}, {'name': 'Hilton', 'stars': 5}]

In [86]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((5,10)))
df

,0,1,2,3,4,5,6,7,8,9
0,0.310411,0.577245,0.362586,0.995352,0.264605,0.998100,0.792183,0.607362,0.908078,0.819816
1,0.400171,0.277665,0.530357,0.175989,0.821325,0.078694,0.703217,0.832572,0.119677,0.392320
2,0.920682,0.756436,0.332994,0.039983,0.317702,0.644552,0.296397,0.993487,0.062097,0.394374
3,0.144421,0.795516,0.333483,0.792018,0.759508,0.955749,0.796879,0.825752,0.552592,0.467755
4,0.525639,0.464778,0.114148,0.693903,0.196886,0.014326,0.358719,0.764667,0.467590,0.627476

In [94]:
df.applymap(lambda x: "Hola"+str(x))

,0,1,2,3,4,5,6,7,8,9
0,Hola0.31041080709606694,Hola0.5772448033005073,Hola0.36258594239230946,Hola0.9953518906507182,Hola0.26460465357509055,Hola0.9981001135358412,Hola0.7921832375631782,Hola0.6073623827815352,Hola0.9080777502714774,Hola0.8198160665029773
1,Hola0.40017077889420305,Hola0.27766537395700175,Hola0.5303570738973541,Hola0.17598895316691499,Hola0.8213248434791914,Hola0.07869420040873676,Hola0.7032166967108288,Hola0.8325716519646502,Hola0.1196769419514675,Hola0.3923202716891948
2,Hola0.9206816615180754,Hola0.756435515164577,Hola0.3329942152881671,Hola0.03998303117168345,Hola0.317702369440126,Hola0.6445519827517011,Hola0.2963970469729782,Hola0.9934872032581918,Hola0.062096651234430755,Hola0.39437395965076516
3,Hola0.14442082265797618,Hola0.7955155853330305,Hola0.3334833452959758,Hola0.7920184894558989,Hola0.7595077716234265,Hola0.9557486464787837,Hola0.7968790562970748,Hola0.8257518233365193,Hola0.5525916080385412,Hola0.4677550920821886
4,Hola0.5256387175956877,Hola0.4647781751270671,Hola0.11414803618879632,Hola0.6939028874351645,Hola0.19688615432766965,Hola0.014326160889240658,Hola0.35871914550147,Hola0.7646667366113655,Hola0.4675899922099819,Hola0.6274756420132663

In [99]:
"""
def clean_1to2_ch (serie):
    #Esta función elimina palabras de 2 o menos caracteres.
    aux = serie.replace("\s\w{1,2}\s", " ")
    aux1 = aux.replace("\s\w{1,2}\s", " ")
    aux2 = aux1.replace("\s\w{1,2}\s", " ")
    return aux2.replace("\s\w{1,2}\s", " ")
"""

from functools import reduce

hoteles = [
    {"name":"Hotel Legazpi", "stars":3},
    {"name":"Pension Loli", "stars":3},
    {"name":"Hilton", "stars":5},
]


def fn(acc,e):
    print("ITera")
    print(acc,e)

x = reduce(fn, hoteles, 0)
print("X vale: ", x)

ITera
0 {'name': 'Hotel Legazpi', 'stars': 3}
ITera
None {'name': 'Pension Loli', 'stars': 3}
ITera
None {'name': 'Hilton', 'stars': 5}
X vale:  None

In [100]:
def fn(acc,e):
    print("ITera")
    print(acc,e)
    return acc + e["stars"]

reduce(fn, hoteles, 0)

ITera
0 {'name': 'Hotel Legazpi', 'stars': 3}
ITera
3 {'name': 'Pension Loli', 'stars': 3}
ITera
6 {'name': 'Hilton', 'stars': 5}

11

In [101]:
reduce(lambda a,e: a+e["stars"], hoteles, 0)

11

In [103]:
def fn(acc,e):
    print("ITera")
    print(acc,e)
    return acc["stars"] + e["stars"]

reduce(fn, hoteles)

ITera
{'name': 'Hotel Legazpi', 'stars': 3} {'name': 'Pension Loli', 'stars': 3}
ITera
6 {'name': 'Hilton', 'stars': 5}

TypeError: 'int' object is not subscriptable

In [ ]:
"""
def clean_1to2_ch (serie):
    #Esta función elimina palabras de 2 o menos caracteres.
    aux = serie.replace("\s\w{1,2}\s", " ")
    aux1 = aux.replace("\s\w{1,2}\s", " ")
    aux2 = aux1.replace("\s\w{1,2}\s", " ")
    return aux2.replace("\s\w{1,2}\s", " ")
"""

operations = [
    "\s\w{1,2}\s"
    "\s\w{1,2}\s"
    "\s\w{1,2}\s"
    "\s\w{1,2}\s"
]

reduce( lambda acc,op: acc.replace(op," ") ,operations, serie)